body {
    background-color: rgb(110, 170, 238);
    margin: 0 0;
    text-align: center;
}

header {
    background-color: rgb(245, 195, 87);
    display: flex;
    flex-direction: row;
}

#title {
    font-size: 4em;
    color: brown;
    font-family: 'Delicious Heavy', 'Lucidia Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
}

#nav {
    text-align: left;
}

#content {
    margin: 10px 25vw 10px 20vw;
    text-align: justify;
}

.hidden {
    visibility: collapse;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    align-content: center;
    text-align: center;
    background-color: #da0030;
    height: 100%;
    width: 100%
}

footer div {
    grid-column: 2;
    text-align: left;
}